<section [formGroup]="searchForm">
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput type="text" formControlName="country">
  </mat-form-field>
</section>

<section>
  <div [ngSwitch]="state | async">
    
    <div *ngSwitchCase="'ready'">
      <mat-list role="list">
        <mat-list-item *ngFor="let item of universities | async">{{item.name}}</mat-list-item>
      </mat-list>
    </div>

    <div *ngSwitchCase="'searchStringEmpty'">
      <p>Type any valid country in a searchbox above</p>
    </div>

    <div *ngSwitchCase="'countryNotFound'">
      <p>Did not find any universities for this country! :(</p>
    </div>

  </div>
</section>
