<div class="product-search-form">
    <section [formGroup]="searchFormGroup">
        <h1>Product search</h1>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="startsWith" />
        </mat-form-field>
    </section>
    <section style="padding-top: 30px">
        <h1>Product list</h1>
        <mat-list role="list" *ngIf="(productsFiltered | async)?.length; else empty">
            <mat-list-item *ngFor="let item of productsFiltered | async">
                {{item.title}}
            </mat-list-item>
        </mat-list>
    </section>
</div>
<ng-template #empty>
    <p>Oops! There is no data!</p>
</ng-template>